<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="../../static/assets/media/Nlogo.png"  style="height: 57px;"> 
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 d-flex ml-5" >
          <li><a href="/" style="font-size: 15px"  class="nav-link px-2 text-white">Home</a></li>
          <li><a href="/dashboard" style="font-size: 15px"  class="nav-link px-2 text-white">Dashboard</a></li>
          <li><a href="/mostPopular" style="font-size: 15px"  class="nav-link px-2 text-white">Most Popular</a></li>
          <li><a href="/weeklyRanking" style="font-size: 15px"  class="nav-link px-2 text-white">Weekly Ranking</a></li>
          <li><a href="/recommenderSystem" style="font-size: 15px"  class="nav-link px-2 text-white">Recommender System</a></li>
        </ul>
      </div>
    </div>
</header>